.gutengeek-block-styles {
	&.col-3{
		.gutengeek-style-button{
			flex: 0 0 calc( 33.33% - 5px );
		}
	}
	&.col-4{
		.gutengeek-style-button{
			flex: 0 0 calc( 25% - 5px );
		}
	}
	&.col-5{
		.gutengeek-style-button{
			flex: 0 0 calc( 20% - 5px );
		}
	}
	.gutengeek-style-button {
		background: transparent;
		width: calc(50% - 5px);
		display: flex;
		flex-direction: column;
		padding: 0;
		margin-bottom: 15px;
		font-size: 12px;
		border: none;
		transition: all 0.3s;
		cursor: pointer;

		.image-preview {
			width: 100%;
			overflow: hidden;
			margin-bottom: 10px;
			border: 1px solid #dce4ea;
			border-radius: 5px;

			img{
				display: block;
				width: 100%;
			}
		}

		&.active{
			outline: none;
			box-shadow: none;
			color: $primary;

			.image-preview {
				border: 1px solid $primary;
			}
		}

		&:active,
		&:hover,
		&:focus,
		&:hover{
			&:not(.active) {
				.image-preview {
					border: 1px solid #9ea5ab;
				}
				color: $black;
				outline: none;
			}
		}
	}
}
