@import './elements/_elements.scss';

.gutengeek-flex {
	display: flex;
}

.gutengeek-flex-grow{
	flex-grow: 1;
}

.gutengeek-flex-wrap {
	flex-wrap: wrap;
}

.gutengeek-align-center {
	align-items: center;
}

.gutengeek-align-right{
	justify-content: flex-end;
}

.gutengeek-align-baseline {
	align-items: baseline;
}

.gutengeek-align-end {
	align-items: flex-end;
}

.gutengeek-block__overlay {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	opacity: 0.7;
	overflow: hidden;
}

.gutengeek-block__video-wrap {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	overflow: hidden;

	video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
		-webkit-transition: 1s opacity;
		transition: 1s opacity;
	}
}

.gutengeek-no-border {
	border: none !important;
}

.gutengeek-no-padding {
	padding: 0 !important;
}

.gutengeek-shape-divider {
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	line-height: 0;
	z-index: 0;

	svg {
		fill: currentColor;
		display: block;
		width: 100%;
		position: relative;
		left: 50%;
		transform: translateX(-50%) scale(1.01);
	}
}

.gutengeek-shape-top {
	top: -1px;
}

.gutengeek-shape-bottom {
	bottom: -1px;
	transform: rotateX(180deg);
}

// Utils.
.gutengeek-display-inline {
	display: inline !important;
}

.gutengeek-display-block {
	display: block !important;
}

ul.gutengeek-ul,
ol.gutengeek-ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.gutengeek-view-stacked {
	background-color: $primary;
}

.gutengeek-view-framed {
	color: $primary;
	border: 1px solid $primary;
	background-color: transparent;
}

.gutengeek-shape-circle {
	border-radius: 50%;
}

.gutengeek-screen-only {
	position: absolute;
	top: -10000em;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.gutengeek-settings-notice--info {
	color: $primary;
	background-color: #005d821f;
	padding: 10px;
	border-left: 5px solid $primary;
	font-size: 12px;
	line-height: 1.5;
}
