$normal: #444;
$black: #111;
$primary: #0060f3;
$secondary: #0dcad2;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$success: #28a745;

$white: #fff;
$gray: #e4e8ef;
$green: #a0ce4e;
$red: orangered;
$orange: #f4900a;
$black_hover: rgba(0,0,0,.5);
$textColor: $normal;
$bgGray: #f1f3f5;
$inputBg: #f1f5f9;
$inputBgFc: #e6ecf2;
$buttonBorderActiveColor: #e5e7ea;
