.gutengeek-inline-popover{
	-webkit-box-shadow: 1px 2px 3px -2px #222;
    box-shadow: 1px 2px 3px -2px #222;
    background-color: #6d7882;
    position: fixed;
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 9999;
    opacity: 0;

    .gutengeek-inline-action{
    	position: relative;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    height: 35px;
	    padding: 0 10px;
	    font-size: 21px;
	    color: $white;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;

	    &.active{
    	    background-color: #556068;
		    -webkit-box-shadow: inset 2px 2px 4px #556068;
		    box-shadow: inset 2px 2px 4px #556068;
	    }
    }
}
