$dimensions: 'gutengeek-p', 'gutengeek-m';
$sizes: -50, -45, -40, -35, -30, -25, -20, -15, -10, -5, 0, 5, 10, 15, 20, 24, 25, 30, 35, 40, 45, 50, 75, 100;
$unit: 'px';

@each $dimension in $dimensions {
	.#{$dimension}t-auto {
		margin-top: auto !important;
	}
	.#{$dimension}b-auto {
		margin-bottom: auto !important;
	}
	.#{$dimension}r-auto {
		margin-right: auto !important;
	}
	.#{$dimension}l-auto {
		margin-left: auto !important;
	}
	@each $size in $sizes {
		.#{$dimension}t-#{$size} {
			margin-top: $size#{$unit};
		}
		.#{$dimension}b-#{$size} {
			margin-bottom: $size#{$unit};
		}
		.#{$dimension}r-#{$size} {
			margin-right: $size#{$unit};
		}
		.#{$dimension}l-#{$size} {
			margin-left: $size#{$unit};
		}
	}
}

$widthClassName: 'gutengeek';
$widthSizes: 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$widthUnit: '%';
$vh: 'vh';
$vw: 'vw';
@each $width in $widthSizes {
	.#{$widthClassName}-w-#{$width} {
		width: $width#{$widthUnit};
	}
	.#{$widthClassName}-vw-#{$width} {
		width: $width#{$vw};
	}
	.#{$widthClassName}-vh-#{$width} {
		height: $width#{$vh};
	}
}
.#{$widthClassName}-w-33{
	width: 33.33%;
}

$rotates: 0, 45, 90, 135, 180, 225, 270, 315, 360;
@each $rotate in $rotates {
	.#{$widthClassName}-rotate-#{$rotate} {
		transform: rotate(#{$rotate}deg);
	}
}
