.gutengeek-grid-template,
.gutengeek-counter-grid {
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 30px;

	&.grid-2 {
		grid-template-columns: 1fr 1fr;
	}

	&.grid-3 {
		grid-template-columns: 1fr 1fr 1fr;
	}

	&.grid-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	&.grid-5 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	&.grid-6 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}
