// Icons.
.gutengeek-icons {
	display: flex;
	vertical-align: middle;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;

	li {
		position: relative;
		display: inline-block;
	}

	a {
		text-align: center;
		display: flex;
		align-items: center;
		color: inherit;
		text-decoration: none !important;
		font-style: normal;
	}
}

.gutengeek-icons {
	svg {
		width: 22px;
		height: 22px;
		font-size: 22px;
		fill: currentColor;
	}

	&.gutengeek-icons-size-small svg {
		font-size: 16px;
		height: 16px;
		line-height: 16px;
		width: 16px;
	}

	&.gutengeek-icons-size-large svg {
		font-size: 28px;
		height: 28px;
		line-height: 28px;
		width: 28px;
	}

	&.gutengeek-icons-style-fill {
		a {
			padding: 13px;
		}

		&.gutengeek-icons-fillsize-small a {
			padding: 8px;
		}

		&.gutengeek-icons-fillsize-large a {
			padding: 18px;
		}
	}
}

.gutengeek-icons.gutengeek-icons-color-mode {
	// Fill Style
	&.gutengeek-icons-style-fill {
		a {
			background: #333;
			color: #fff;

			&:hover,
			&:active,
			&:focus {
				color: #fff;
			}
		}

		.gutengeek-icon-facebook {
			a {
				background: #3b5998;

				&:hover {
					background: #2f477c;
				}
			}
		}

		.gutengeek-icon-twitter {
			a {
				background: #1da1f2;

				&:hover {
					background: #1a93df;
				}
			}
		}

		.gutengeek-icon-youtube {
			a {
				background: #ff0000;

				&:hover {
					background: #e40000;
				}
			}
		}

		.gutengeek-icon-vimeo {
			a {
				background: #1ab7ea;

				&:hover {
					background: #17a4d3;
				}
			}
		}

		.gutengeek-icon-dribbble {
			a {
				background: #ea4c89;

				&:hover {
					background: #d3437a;
				}
			}
		}

		.gutengeek-icon-behance {
			a {
				background: #1769ff;

				&:hover {
					background: #135add;
				}
			}
		}

		.gutengeek-icon-github {
			a {
				background: #333;

				&:hover {
					background: rgb(24, 24, 24);
				}
			}
		}

		.gutengeek-icon-amazon {
			a {
				background: #ff9900;

				&:hover {
					background: #e68a00;
				}
			}
		}

		.gutengeek-icon-codepen {
			a {
				background: #0ebeff;

				&:hover {
					background: #0ba6df;
				}
			}
		}

		.gutengeek-icon-flickr {
			a {
				background: #ff0084;

				&:hover {
					background: #e60077;
				}
			}
		}

		.gutengeek-icon-foursquare {
			a {
				background: #2d5be3;

				&:hover {
					background: #264ec7;
				}
			}
		}

		.gutengeek-icon-gitlab {
			a {
				background: #fc6d26;

				&:hover {
					background: #dd6021;
				}
			}
		}

		.gutengeek-icon-linux {
			a {
				background: #0b57a4;

				&:hover {
					background: #094886;
				}
			}
		}

		.gutengeek-icon-whatsapp {
			a {
				background: #075e54;

				&:hover {
					background: #053d37;
				}
			}
		}

		.gutengeek-icon-tumblr {
			a {
				background: #35465c;

				&:hover {
					background: #253141;
				}
			}
		}

		.gutengeek-icon-trello {
			a {
				background: #0079bf;

				&:hover {
					background: #00639c;
				}
			}
		}

		.gutengeek-icon-soundcloud {
			a {
				background: #ff3300;

				&:hover {
					background: #df2d00;
				}
			}
		}

		.gutengeek-icon-spotify {
			a {
				background: #1db954;

				&:hover {
					background: #1ba34a;
				}
			}
		}

		.gutengeek-icon-skype {
			a {
				background: #00aff0;

				&:hover {
					background: #009fd8;
				}
			}
		}

		.gutengeek-icon-slack {
			a {
				background: #e01563;

				&:hover {
					background: #c01154;
				}
			}
		}

		.gutengeek-icon-reddit {
			a {
				background: #5f99cf;

				&:hover {
					background: #4f7fac;
				}
			}
		}

		.gutengeek-icon-tripadvisor {
			a {
				background: #00af87;

				&:hover {
					background: #018f6e;
				}
			}
		}

		.gutengeek-icon-pinterest {
			a {
				background: #bd081c;

				&:hover {
					background: #9c0718;
				}
			}
		}

		.gutengeek-icon-product-hunt {
			a {
				background: #da552f;

				&:hover {
					background: #b34426;
				}
			}
		}

		.gutengeek-icon-medium {
			a {
				background: #00ab6c;

				&:hover {
					background: #018a57;
				}
			}
		}

		.gutengeek-icon-instagram {
			a {
				background: #e1306c;

				&:hover {
					background: #c0275a;
				}
			}
		}

		.gutengeek-icon-linkedin {
			a {
				background: #0077b5;

				&:hover {
					background: #005f92;
				}
			}
		}

		.gutengeek-icon-digg {
			a {
				background: #005be2;

				&:hover {
					background: #004dc0;
				}
			}
		}

		.gutengeek-icon-dropbox {
			a {
				background: #007ee5;

				&:hover {
					background: #016fc9;
				}
			}
		}

		.gutengeek-icon-slideshare {
			a {
				background: #0077b5;

				&:hover {
					background: #006196;
				}
			}
		}

		.gutengeek-icon-stack-overflow {
			a {
				background: #f48024;

				&:hover {
					background: #d67220;
				}
			}
		}

		.gutengeek-icon-stumbleupon {
			a {
				background: #eb4924;

				&:hover {
					background: #c93e1e;
				}
			}
		}

		.gutengeek-icon-wordpress {
			a {
				background: #21759b;

				&:hover {
					background: #1b5e7e;
				}
			}
		}

		.gutengeek-icon-xing {
			a {
				background: #026466;

				&:hover {
					background: #014849;
				}
			}
		}

		.gutengeek-icon-yahoo {
			a {
				background: #410093;

				&:hover {
					background: #32016e;
				}
			}
		}

		.gutengeek-icon-bitbucket {
			a {
				background: #205081;

				&:hover {
					background: #17395c;
				}
			}
		}

		.gutengeek-icon-jsfiddle {
			a {
				background: #0084ff;

				&:hover {
					background: #0173dd;
				}
			}
		}

		.gutengeek-icon-imdb {
			a {
				background: #EAB700;
				color: #333;

				&:hover {
					background: rgb(194, 152, 1);
				}
			}
		}

		.gutengeek-icon-snapchat {
			a {
				background: #fffc00;
				color: #333;

				&:hover {
					background: #dbd801;
				}
			}
		}

		.gutengeek-icon-telegram {
			a {
				background: #0088cc;

				&:hover {
					background: #0074ad;
				}
			}
		}

		.gutengeek-icon-twitch {
			a {
				background: #6441a5;

				&:hover {
					background: #513486;
				}
			}
		}

		.gutengeek-icon-joomla {
			a {
				background: #f9a541;

				&:hover {
					background: #d38c36;
				}
			}
		}
	}

	&.gutengeek-icons-style-normal {
		a {
			color: #333;

			&:hover,
			&:active,
			&:focus {
				color: #333;
			}
		}

		.gutengeek-icon-facebook {
			a {
				color: #3b5998;

				&:hover {
					color: #2f477c;
				}
			}
		}

		.gutengeek-icon-twitter {
			a {
				color: #1da1f2;

				&:hover {
					color: #1a93df;
				}
			}
		}

		.gutengeek-icon-youtube {
			a {
				color: #ff0000;

				&:hover {
					color: #e40000;
				}
			}
		}

		.gutengeek-icon-vimeo {
			a {
				color: #1ab7ea;

				&:hover {
					color: #17a4d3;
				}
			}
		}

		.gutengeek-icon-dribbble {
			a {
				color: #ea4c89;

				&:hover {
					color: #d3437a;
				}
			}
		}

		.gutengeek-icon-behance {
			a {
				color: #1769ff;

				&:hover {
					color: #135add;
				}
			}
		}

		.gutengeek-icon-github {
			a {
				color: #333;

				&:hover {
					color: rgb(24, 24, 24);
				}
			}
		}

		.gutengeek-icon-amazon {
			a {
				color: #ff9900;

				&:hover {
					color: #e68a00;
				}
			}
		}

		.gutengeek-icon-codepen {
			a {
				color: #0ebeff;

				&:hover {
					color: #0ba6df;
				}
			}
		}

		.gutengeek-icon-flickr {
			a {
				color: #ff0084;

				&:hover {
					color: #e60077;
				}
			}
		}

		.gutengeek-icon-foursquare {
			a {
				color: #2d5be3;

				&:hover {
					color: #264ec7;
				}
			}
		}

		.gutengeek-icon-gitlab {
			a {
				color: #fc6d26;

				&:hover {
					color: #dd6021;
				}
			}
		}

		.gutengeek-icon-linux {
			a {
				color: #0b57a4;

				&:hover {
					color: #094886;
				}
			}
		}

		.gutengeek-icon-whatsapp {
			a {
				color: #075e54;

				&:hover {
					color: #053d37;
				}
			}
		}

		.gutengeek-icon-tumblr {
			a {
				color: #35465c;

				&:hover {
					color: #253141;
				}
			}
		}

		.gutengeek-icon-trello {
			a {
				color: #0079bf;

				&:hover {
					color: #00639c;
				}
			}
		}

		.gutengeek-icon-soundcloud {
			a {
				color: #ff3300;

				&:hover {
					color: #df2d00;
				}
			}
		}

		.gutengeek-icon-spotify {
			a {
				color: #1db954;

				&:hover {
					color: #1ba34a;
				}
			}
		}

		.gutengeek-icon-skype {
			a {
				color: #00aff0;

				&:hover {
					color: #009fd8;
				}
			}
		}

		.gutengeek-icon-slack {
			a {
				color: #e01563;

				&:hover {
					color: #c01154;
				}
			}
		}

		.gutengeek-icon-reddit {
			a {
				color: #5f99cf;

				&:hover {
					color: #4f7fac;
				}
			}
		}

		.gutengeek-icon-tripadvisor {
			a {
				color: #00af87;

				&:hover {
					color: #018f6e;
				}
			}
		}

		.gutengeek-icon-pinterest {
			a {
				color: #bd081c;

				&:hover {
					color: #9c0718;
				}
			}
		}

		.gutengeek-icon-product-hunt {
			a {
				color: #da552f;

				&:hover {
					color: #b34426;
				}
			}
		}

		.gutengeek-icon-medium {
			a {
				color: #00ab6c;

				&:hover {
					color: #018a57;
				}
			}
		}

		.gutengeek-icon-instagram {
			a {
				color: #e1306c;

				&:hover {
					color: #c0275a;
				}
			}
		}

		.gutengeek-icon-linkedin {
			a {
				color: #0077b5;

				&:hover {
					color: #005f92;
				}
			}
		}

		.gutengeek-icon-digg {
			a {
				color: #005be2;

				&:hover {
					color: #004dc0;
				}
			}
		}

		.gutengeek-icon-dropbox {
			a {
				color: #007ee5;

				&:hover {
					color: #016fc9;
				}
			}
		}

		.gutengeek-icon-slideshare {
			a {
				color: #0077b5;

				&:hover {
					color: #006196;
				}
			}
		}

		.gutengeek-icon-stack-overflow {
			a {
				color: #f48024;

				&:hover {
					color: #d67220;
				}
			}
		}

		.gutengeek-icon-stumbleupon {
			a {
				color: #eb4924;

				&:hover {
					color: #c93e1e;
				}
			}
		}

		.gutengeek-icon-wordpress {
			a {
				color: #21759b;

				&:hover {
					color: #1b5e7e;
				}
			}
		}

		.gutengeek-icon-xing {
			a {
				color: #026466;

				&:hover {
					color: #014849;
				}
			}
		}

		.gutengeek-icon-yahoo {
			a {
				color: #410093;

				&:hover {
					color: #32016e;
				}
			}
		}

		.gutengeek-icon-bitbucket {
			a {
				color: #205081;

				&:hover {
					color: #17395c;
				}
			}
		}

		.gutengeek-icon-jsfiddle {
			a {
				color: #0084ff;

				&:hover {
					color: #0173dd;
				}
			}
		}

		.gutengeek-icon-imdb {
			a {
				color: #EAB700;

				&:hover {
					color: rgb(202, 159, 3);
				}
			}
		}

		.gutengeek-icon-snapchat {
			a {
				color: #FEFC00;

				&:hover {
					color: rgb(211, 211, 1);
				}
			}
		}

		.gutengeek-icon-telegram {
			a {
				color: #0088cc;

				&:hover {
					color: #0074ad;
				}
			}
		}

		.gutengeek-icon-twitch {
			a {
				color: #6441a5;

				&:hover {
					color: #513486;
				}
			}
		}

		.gutengeek-icon-joomla {
			a {
				color: #f9a541;

				&:hover {
					color: #d38c36;
				}
			}
		}
	}
}

@-webkit-keyframes "spinAround" {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes "spinAround" {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes "spinAround" {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes "toRightFromLeft" {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes "toRightFromLeft" {
	49% {
		-moz-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes "toRightFromLeft" {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-webkit-keyframes "toLeftFromRight" {
	49% {
		-webkit-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes "toLeftFromRight" {
	49% {
		-moz-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes "toLeftFromRight" {
	49% {
		transform: translate(-100%);
	}
	50% {
		opacity: 0;
		transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@-webkit-keyframes "toTopFromBottom" {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes "toTopFromBottom" {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes "toTopFromBottom" {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-webkit-keyframes "toBottomFromTop" {
	49% {
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes "toBottomFromTop" {
	49% {
		-moz-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes "toBottomFromTop" {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

@-webkit-keyframes "sonarEffect" {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes "sonarEffect" {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes "sonarEffect" {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes drawEffect {
	0%   { stroke-dashoffset: 0; }
	25%  { stroke-dashoffset: 0; }
	85%  { stroke-dashoffset: 2000; }
	100% { stroke-dashoffset: 2000; }
}
.gutengeek-icon {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: var(--padding, 15px);
	z-index: 1;

	svg{
		fill: var(--color, $white);
		transition: fill 0.1s;
	}
	&:hover{
		svg{
			fill: var(--hover-color, var(--color, $white))
		}
	}

	&.gutengeek-icon-effect:not(.gutengeek-icon-effect-default){
		border-radius: var(--border-radius, 50%);
		&:after {
			pointer-events: none;
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			content: '';
			box-sizing: content-box;
		}

		&:hover{
			svg{
				fill: var(--hover-color, var(--color, $white))
			}
		}
	}
}

.gutengeek-hover-icon-wrap{
	&:hover{
		svg{
			fill: var(--hover-color, var(--color, $white))
		}
	}
}

.gutengeek-icon-effect-default{
	border-radius: var(--border-radius, 50%);
	border: none;

	.svg-default-effect{
		stroke: var(--color, $white);
		stroke-width: 20px;
		stroke-dasharray: 2000;
		stroke-dashoffset: 0;
		animation-iteration-count: 1;
	}
	&:hover{
		.svg-default-effect{
			stroke: var(--hover-color, var(--color, $white));
			stroke-dasharray: 2000;
			stroke-dashoffset: 2000;
			animation-name: drawEffect;
			animation-duration: 3s;
			animation-direction: alternate-reverse;
			animation-fill-mode: forwards;
		}
	}
}

.gutengeek-hover-icon-wrap{
	&:hover{
		.svg-default-effect{
			stroke: var(--hover-color, var(--color, $white));
			stroke-dasharray: 2000;
			stroke-dashoffset: 2000;
			animation-name: drawEffect;
			animation-duration: 3s;
			animation-direction: alternate-reverse;
			animation-fill-mode: forwards;
		}
	}
}

.gutengeek-icon-effect-1 {
	&.gutengeek-icon-effect {
		background: rgba(216, 202, 202, 0.10);
		transition: background 0.2s, color 0.2s;
		&:after {
			top: -7px;
			left: -7px;
			padding: 7px;
			box-shadow: 0 0 0 4px var(--hover-color, var(--color, $white));
			transition: transform 0.2s, opacity 0.2s;
			transform: scale(.8);
			opacity: 0;
		}
	}
}
.gutengeek-icon-effect-1a {
	&.gutengeek-icon-effect {
		&:hover {
			background: var(--color, $white);
			&:after {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-1a {
			&.gutengeek-icon-effect {
				background: var(--color, $white);
				&:after {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
}
.gutengeek-icon-effect-1b {
	&.gutengeek-icon-effect {
		&:after {
			transform: scale(1.2);
		}
		&:hover {
			background: $white;
			color: var(--hover-color, var(--color, $white));
			&:after {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-1b {
			&.gutengeek-icon-effect {
				background: $white;
				color: var(--hover-color, var(--color, $white));
				&:after {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
}
.gutengeek-icon-effect-2 {
	&.gutengeek-icon-effect {
		box-shadow: 0 0 0 3px $white;
		transition: color 0.3s;
		&:after {
			top: -2px;
			left: -2px;
			padding: 2px;
			z-index: -1;
			background: $white;
			transition: transform 0.2s, opacity 0.2s;
		}
	}
}
.gutengeek-icon-effect-2a {
	&.gutengeek-icon-effect {
		fill: var(--color, $white);
		&:hover {
			&:after {
				transform: scale(0.85);
			}
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-2a {
			&.gutengeek-icon-effect {
				&:after {
					transform: scale(0.85);
				}
			}
		}
	}
}
.gutengeek-icon-effect-2b {
	&.gutengeek-icon-effect {
		&:hover {
			&:after {
				transform: scale(0);
				opacity: 0;
				transition: transform 0.4s, opacity 0.2s;
			}
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-2b {
			&.gutengeek-icon-effect {
				&:after {
					transform: scale(0);
					opacity: 0;
					transition: transform 0.4s, opacity 0.2s;
				}
			}
		}
	}
}
.gutengeek-icon-effect-3 {
	&.gutengeek-icon-effect {
		box-shadow: 0 0 0 4px $white;
		transition: color 0.3s;
		&:after {
			top: -2px;
			left: -2px;
			padding: 2px;
			z-index: -1;
			background: $white;
			transition: transform 0.2s, opacity 0.3s;
		}
	}
}
.gutengeek-icon-effect-3a {
	&.gutengeek-icon-effect {
		svg {
			fill: var( --color, $white );
		}
		&:hover {
			&:after {
				transform: scale(1.3);
				opacity: 0;
			}
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover {
		.gutengeek-icon-effect-3a {
			&.gutengeek-icon-effect {
				&:after {
					transform: scale(1.3);
					opacity: 0;
				}
			}
		}
	}
}
.gutengeek-icon-effect-3b {
	&.gutengeek-icon-effect {
		&:hover {
			&:after {
				transform: scale(1);
				opacity: 1;
			}
		}
		&:after {
			transform: scale(1.3);
			opacity: 0;
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-3b {
			&.gutengeek-icon-effect {
				&:after {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
}
.gutengeek-icon-effect-4 {
	&.gutengeek-icon-effect {
		width: 92px;
		height: 92px;
		box-shadow: 0 0 0 4px var(--color, $white);
		&:after {
			top: -4px;
			left: -4px;
			padding: 0;
			z-index: 10;
			border: 4px dashed var(--color, $white);
		}
		&:hover {
			box-shadow: 0 0 0 0 rgba(255,255,255,0);
			&:after {
				border-color: var(--hover-color, var(--color, $white));
			}
			svg {
				fill: var(--hover-color, var(--color, $white));
			}
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-4 {
			&.gutengeek-icon-effect {
				box-shadow: 0 0 0 0 rgba(255,255,255,0);
				&:after {
					border-color: var(--hover-color, var(--color, $white));
				}
				svg {
					fill: var(--hover-color, var(--color, $white));
				}
			}
		}
	}
}
.gutengeek-icon-effect-4a {
	&.gutengeek-icon-effect {
		transition: box-shadow 0.2s;
	}
}
.gutengeek-icon-effect-4b {
	&.gutengeek-icon-effect {
		&:hover {
			transition: box-shadow 0.2s;
			&:after {
				animation: spinAround 9s linear infinite;
			}
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-4b {
			&.gutengeek-icon-effect {
				transition: box-shadow 0.2s;
				&:after {
					animation: spinAround 9s linear infinite;
				}
			}
		}
	}
}
.gutengeek-icon-effect-5 {
	&.gutengeek-icon-effect {
		box-shadow: 0 0 0 4px var(--color, $white);
		overflow: hidden;
		transition: background 0.3s, color 0.3s, box-shadow 0.3s;
		&:after {
			display: none;
		}
		&:hover {
			background: var(--color, $white);
			box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-5 {
			&.gutengeek-icon-effect {
				background: var(--color, $white);
				box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
			}
		}
	}
}
.gutengeek-icon-effect-5a {
	&.gutengeek-icon-effect {
		&:hover {
			svg {
				animation: toRightFromLeft 0.3s forwards;
			}
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-5a {
			&.gutengeek-icon-effect {
				svg {
					animation: toRightFromLeft 0.3s forwards;
				}
			}
		}
	}
}
.gutengeek-icon-effect-5b {
	&.gutengeek-icon-effect {
		&:hover {
			svg{
				animation: toLeftFromRight 0.3s forwards;
			}
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-5b {
			&.gutengeek-icon-effect {
				svg{
					animation: toLeftFromRight 0.3s forwards;
				}
			}
		}
	}
}
.gutengeek-icon-effect-5c {
	&.gutengeek-icon-effect {
		&:hover {
			svg {
				animation: toTopFromBottom 0.3s forwards;
			}
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-5c {
			&.gutengeek-icon-effect {
				svg {
					animation: toTopFromBottom 0.3s forwards;
				}
			}
		}
	}
}
.gutengeek-icon-effect-5d {
	&.gutengeek-icon-effect {
		&:hover {
			svg {
				animation: toBottomFromTop 0.3s forwards;
			}
		}
	}
}

.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-5d {
			&.gutengeek-icon-effect {
				svg {
					animation: toBottomFromTop 0.3s forwards;
				}
			}
		}
	}
}
.gutengeek-icon-effect-6 {
	&.gutengeek-icon-effect {
		box-shadow: 0 0 0 4px var(--color, $white);
		transition: background 0.2s, color 0.2s;
		&:hover {
			background: var( --color, $white );
			svg{
				animation: spinAround 2s linear infinite;
			}
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-6 {
			&.gutengeek-icon-effect {
				background: var( --color, $white );
				svg{
					animation: spinAround 2s linear infinite;
				}
			}
		}
	}
}
.gutengeek-icon-effect-7 {
	&.gutengeek-icon-effect {
		box-shadow: 0 0 0 4px var(--color, $white);
		transition: background 0.2s, color 0.2s;
		&:after {
			top: -8px;
			left: -8px;
			padding: 8px;
			z-index: -1;
			opacity: 0;
		}
	}
}
.gutengeek-icon-effect-7a {
	&.gutengeek-icon-effect {
		&:after {
			box-shadow: 0 0 0 var(--color, $white);
			transition: opacity 0.2s, box-shadow 0.2s;
		}
		&:hover {
			box-shadow: 0 0 0 4px var(--hover-color, var(--hover-color, $white));
			&:after {
				opacity: 1;
				box-shadow: 3px 3px 0 var(--hover-color, var(--hover-color, $white));
			}
			svg {
				transform: scale(1);
				opacity: 1;
			}
		}
		svg {
			transform: scale(0.8);
			opacity: 0.7;
			transition: transform 0.2s, opacity 0.2s;
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-7a {
			&.gutengeek-icon-effect {
				box-shadow: 0 0 0 4px var(--hover-color, var(--hover-color, $white));
				&:after {
					opacity: 1;
					box-shadow: 3px 3px 0 var(--hover-color, var(--hover-color, $white));
				}
				svg {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
}
.gutengeek-icon-effect-7b {
	&.gutengeek-icon-effect {
		&:after {
			box-shadow: 3px 3px var(--color, $white);
			transform: rotate(-90deg);
			transition: opacity 0.2s, transform 0.2s;
		}
		&:hover {
			box-shadow: 3px 3px var(--hover-color, var(--hover-color, $white));
			&:after {
				opacity: 1;
				transform: rotate(0deg);
				box-shadow: 3px 3px var(--hover-color, var(--hover-color, $white));
			}
			svg {
				transform: scale(1);
				opacity: 1;
			}
		}
		svg {
			transform: scale(0.8);
			opacity: 0.7;
			transition: transform 0.2s, opacity 0.2s;
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-7b {
			&.gutengeek-icon-effect {
				box-shadow: 3px 3px var(--hover-color, var(--hover-color, $white));
				&:after {
					opacity: 1;
					transform: rotate(0deg);
					box-shadow: 3px 3px var(--hover-color, var(--hover-color, $white));
				}
				svg {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
}
.gutengeek-icon-effect-8 {
	&.gutengeek-icon-effect {
		background: rgba(255,255,255,0.1);
		transition: transform ease-out 0.1s, background 0.2s;
		&:after {
			top: 0;
			left: 0;
			padding: 0;
			z-index: -1;
			box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
			opacity: 0;
			transform: scale(0.9);
		}
		&:hover {
			background: rgba(255,255,255,0.05);
			transform: scale(0.93);
			&:after {
				animation: sonarEffect 1.3s ease-out 75ms;
			}
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-8 {
			&.gutengeek-icon-effect {
				background: rgba(255,255,255,0.05);
				transform: scale(0.93);
				&:after {
					animation: sonarEffect 1.3s ease-out 75ms;
				}
			}
		}
	}
}
.gutengeek-icon-effect-9 {
	&.gutengeek-icon-effect {
		transition: box-shadow 0.2s;
		&:after {
			top: 0;
			left: 0;
			padding: 0;
			box-shadow: 0 0 0 3px var( --color, $white );
			transition: transform 0.2s, opacity 0.2s;
		}
	}
}
.gutengeek-icon-effect-9a {
	&.gutengeek-icon-effect {
		&:hover {
			&:after {
				box-shadow: 0 0 0 3px var(--hover-color, var(--hover-color, $white));
				transform: scale(0.85);
				opacity: 0.5;
			}
			box-shadow: 0 0 0 10px var(--hover-color, var(--hover-color, $white));
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-9a {
			&.gutengeek-icon-effect {
				&:after {
					box-shadow: 0 0 0 3px var(--hover-color, var(--hover-color, $white));
					transform: scale(0.85);
					opacity: 0.5;
				}
				box-shadow: 0 0 0 10px var(--hover-color, var(--hover-color, $white));
			}
		}
	}
}
.gutengeek-icon-effect-9b {
	&.gutengeek-icon-effect {
		&:hover {
			box-shadow: 0 0 0 10px var(--hover-color, var(--hover-color, $white));
			&:after {
				box-shadow: 0 0 0 10px var(--hover-color, var(--hover-color, $white));
				transform: scale(0.85);
			}
			box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
		}
	}
}
.gutengeek-hover-icon-wrap{
	&:hover{
		.gutengeek-icon-effect-9b {
			&.gutengeek-icon-effect {
				box-shadow: 0 0 0 10px var(--hover-color, var(--hover-color, $white));
				&:after {
					box-shadow: 0 0 0 10px var(--hover-color, var(--hover-color, $white));
					transform: scale(0.85);
				}
				box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
			}
		}
	}
}
