.gutengeek-range-field {
	width: 100%;
	> .components-base-control,
	.components-base-control__label {
		display: flex;
		margin-bottom: 0px !important;
	}

	&.responsive{
		.gutengeek-device-tabs-wrap{
			.components-base-control__field{
				display: inline-flex;
				.components-base-control__label{
					margin-right: 10px;
				}
			}
		}
	}
}

.gutengeek-range-field-wrap-inner {
	display: flex;
	align-items: center;
	margin-bottom: 0px;

	&.disabled{
		opacity: 0.75;
	}

	.components-range-control__wrapper{
		// margin-left: 0 !important;
	}

	.components-base-control__label {
		margin-bottom: 4px;
	}

	.components-range-control {
		margin-bottom: 0 !important;
		width: 100%;

    	&::-ms-fill-lower,
    	&::-ms-fill-upper{
    		background: $primary;
    	}

		.components-base-control__field {
			margin-bottom: 0;
		}
	}
	.components-range-control__number{
		min-width: 55px !important;
		background: $white;
    	border: 1px solid #bec9d6;
    	text-align: center;

    	&:focus{
    		box-shadow: none !important;
    		outline: none !important;
    	}
    	&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
		  	-webkit-appearance: none;
		  	margin: 0;
		}
	}

	.components-range-control__slider{
	  	width: 100%;
		height: 25px;
		background: transparent;
	  	-webkit-appearance: none;
	  	margin: 0px 10px 0 0;
		&:hover,
		&:focus{
			cursor: pointer;
			outline: none;
		}
		&::-webkit-slider-runnable-track {
		  width: 100%;
		  height: 5px;
		  cursor: pointer;
		  animate: 0.2s;
		  box-shadow: 0px 0px 0px #000000;
		  background: #e4e8ef;
		  border-radius: 1px;
		  border: 0px solid $black;
		}
		&::-webkit-slider-thumb {
		  box-shadow: 0px 0px 0px $black;
		  border: 1px solid #e4e8ef;
		  height: 14px;
		  width: 14px;
		  border-radius: 25px;
		  background: $primary;
		  cursor: pointer;
		  -webkit-appearance: none;
		  margin-top: -5px;
		}
		&:focus::-webkit-slider-runnable-track {
		  background: #e4e8ef;
		}
		&::-moz-range-track {
		  width: 100%;
		  height: 5px;
		  cursor: pointer;
		  animate: 0.2s;
		  box-shadow: 0px 0px 0px $black;
		  background: #e4e8ef;
		  border-radius: 1px;
		  border: 0px solid $black;
		}
		&::-moz-range-thumb {
		  box-shadow: 0px 0px 0px $black;
		  border: 1px solid #e4e8ef;
		  height: 14px;
		  width: 14px;
		  border-radius: 25px;
		  background: $primary;
		  cursor: pointer;
		}
		&::-ms-track {
		  width: 100%;
		  height: 5px;
		  cursor: pointer;
		  animate: 0.2s;
		  background: transparent;
		  border-color: transparent;
		  color: transparent;
		}
		&::-ms-fill-lower {
		  background: #e4e8ef;
		  border: 0px solid $black;
		  border-radius: 2px;
		  box-shadow: 0px 0px 0px $black;
		}
		&::-ms-fill-upper {
		  background: #e4e8ef;
		  border: 0px solid $black;
		  border-radius: 2px;
		  box-shadow: 0px 0px 0px $black;
		}
		&::-ms-thumb {
		  margin-top: 1px;
		  box-shadow: 0px 0px 0px $black;
		  border: 1px solid #e4e8ef;
		  height: 14px;
		  width: 14px;
		  border-radius: 25px;
		  background: #5491f1;
		  cursor: pointer;
		}
		&:focus::-ms-fill-lower {
		  background: #e4e8ef;
		}
		&:focus::-ms-fill-upper {
		  background: #e4e8ef;
		}
	}
}
