.gutengeek-dimension-container{
	display: flex;
}

.gutengeek-field-dimension-container{
	.gutengeek-device-tabs-wrap{

		.components-base-control__field{
			align-items: center;
			.gutengeek-device-tabs{
				width: 100%;
			}
		}
	}
}
.gutengeek-dimension {
	width: 100%;
	.gutengeek-dimenstion-input-group {

		> * {
			width: 20%;
			float: left;
			margin-bottom: 0 !important;
		}

		.gutengeek-button-field {
			padding: 4px 8px;
			text-align: center;
			color: $primary;
			transition: all 300ms;
			border-radius: 3px;
			cursor: pointer;
			border-right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			justify-content: space-around;

			svg {
				height: 20px;
			}
		}

		> .gutengeek-dimension-number {
			border-radius: 0;
			border-right: 0 !important;

			&:first-child {
				input {
					border-top-left-radius: 3px;
					border-bottom-left-radius: 3px;
				}
			}

			&:last-child {
				input {
					border-top-right-radius: 3px;
					border-bottom-right-radius: 3px;
				}
			}

			input {
				border-radius: 0;
				text-align: center;
				max-width: 100%;
				border: 1px solid #bec9d6;
				width: 100%;
				padding: 0 2px 0 0 !important;
				margin: 0;
			}

			input {
				&:focus {
					box-shadow: none;
					outline: none;
					border-color: $primary;
				}
			}

			&:not(:last-child) {
				input {
					border-right: 0 !important;
				}
			}

			> .components-base-control__field {
				display: flex;
				flex-direction: column-reverse;
				text-align: center;

				.components-base-control__label {
					font-size: 10px;
					text-transform: uppercase;
				}
			}
		}
	}
}
