.gutengeek-responsive-field{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px !important;

	.control{
		display: flex;
		// width: 100%;

		.gutengeek-device-tabs{
			margin: 0;
			margin-right: auto;
			margin-left: 10px;
		}
	}
}
