.gutengeek-device-tabs-wrap {
	margin-bottom: 10px !important;
	> .components-base-control__field {
		display: flex;
		justify-content: space-between;

		.gutengeek-device-tabs {
			margin-right: 0;
			width: 100%;
		}
	}

}

.gutengeek-device-tabs {
	border-bottom: 0;
	text-align: right;
	// width: 100%;

	button {
		border: none;
		border-radius: 50% !important;
		box-shadow: none !important;
		border-bottom: 0;
		padding: 3px;
		outline: 0;
		font-size: 8px;
		background: transparent;
		color: #bec9d6 !important;
		display: inline-flex;
		height: 21px;
		width: 21px;
		margin-right: 3px;
		align-items: center;
		align-content: center;

		svg {
			width: 15px;
			height: 15px;
		}

		&.active-tab {
			color: $primary !important;
			background-color: $gray !important;
			box-shadow: none !important;

			&:focus {
				color: $primary !important;
				background-color: $gray !important;
				box-shadow: none;
			}
		}
	}
}
